body{
    font-family: Roboto;
}

.logo {
    background-color: #FF8000;
    height: 52px;
}

.gv-content {
    background-color: #C4C4C4;
}

.gv-toogler {
    border: 0px;
}

.gv-toogler-color {
    color: #FF8000;
}

.barraTitulo {
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-buscar {
    margin: 15px;
}

.barraTitulo h1 {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.azul {
    background-color: #74A0E1;
    color: #FFF;
}

.naranja {
    background-color: #FF8000;
    color: #FFF;
}

.blanco {
    background-color: #FFF;
}

#buscar, #button-addon-buscar {
    border-color: #FF8000;
}

#buscar::placeholder, #button-addon-buscar i {
    color: #FF8000;
}

.twitter-typeahead {
    width: 100%;
    max-width: 87%;
}

.contactanos {
    text-align: center;
    color: #74A0E1;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
}

.texto-input {
    color: #707070;
}

#siteMap {
    background-color: #74A0E1;
}

.contacto, .site-map {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#copyright {
    display: flex;
    justify-content: space-between;
}

.gutviel {
    font-size: 10px;
    color: #FFF;
}

.made {
    font-size: 9px;
    color: #707070;
}


@media (min-width: 576px) {  }

@media (min-width: 768px) {  }

@media (min-width: 992px) {  }

@media (min-width: 1200px) {  }

@media (min-width: 1400px) {  }